@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
* {
  font-family: Inter, sans-serif !important;
}

body h1 {
  font-weight: bold;
}

body {
  text-align: center;
  font-size: 2rem;
  background-color: rgb(250, 250, 250);
}
.message {
  font-weight: bold;
  color: rgb(70, 128, 255);
}
.stat-div {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid rgba(132, 132, 132, 0.585);
  margin: 1rem 1rem;
}

.status {
  color: rgb(25, 104, 194);
  font-weight: bold;
}

footer {
  font-size: 0.7em;
}
a {
  text-decoration: underline;
  color: rgb(255, 113, 47);
}

@media screen and (max-width: 720px) {
  body {
    font-size: 1.7rem;
  }
} ;
